@import url(https://fonts.googleapis.com/css?family=Cookie|Lobster+Two);

html, body {height:100%; width:100%;}
#wrapper {min-height:100%;}

body {
    background-image:url(../images/background.jpg);
    background-attachment: fixed;

}
/* the name of the website */
#heading {
    color:#000;
    font-family: 'Lobster Two', cursive;
    font-size:35px;
    padding:10px 45px 0 10px;
}
/* a horizontal menu */
#navigation {
    height: 60px;
    background: #eee;
    width:100%;
    min-width:600px;
}

#navigation ul li {
    float: left;
}
#navigation ul li a {
    color: #000;
    padding: 0 20px;
    font-family: "Cookie";
    font-size: 20px;
    text-decoration: none;
    line-height: 60px;
    display: block;
    height: 60px;
}

#navigation ul li a:hover {
    background: rgba(21, 78, 234, 0.85);
    text-decoration: underline;
}
/* the search field */
#searching {
    position:fixed;
    top:20px;
    left:800px;

}
#inputCityName {
    border-radius:8px;
}
#inputCityName, #btnGetWeather {
    vertical-align:middle;
}
#btnGetWeather {border: 2px solid white;
border-radius:5px;
background: rgba(21, 78, 234, 0.85);
color:white;
width:90px;
height:25px;
}
            
/*the main section*/
article {
    position:relative;
    max-width: 800px;
    overflow-y:scroll;
    background-color: rgba(217, 221, 237, 0.8);
    padding:15px;
    margin-top: 90px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;
    border-radius:20px;
}
#location {
    color:#2828ad;
    font-family: 'Cookie', cursive;
    font-size:24px;
}
.output {
    text-align:center;
    vertical-align:middle;
}
/* footer */


footer {
    width:100%;
    min-width:600px;
    text-align:center;
	height:50px;
	position:fixed;
	bottom:0;
	left:0;
    clear: both;
    background-color:#eee;
}

footer ul {
    width:30%;
    display:block;
    padding: 0;
    margin: auto;
    height: 50px;
    line-height: 50px;
}
footer li {
    float:left;
    vertical-align:middle;
}
#facebook {
    position:fixed;
    right:50px;
}