@import url(https://fonts.googleapis.com/css?family=Cookie|Lobster+Two);

html, body {height:100%;}
#wrapper {min-height:100%;}

body {
    background-image:url(../images/background.jpg);
    background-attachment: fixed;
}
/* the name of the website */
#heading {
    color:#fff;
    font-family: 'Lobster Two', cursive;
    font-size:35px;
    padding:10px 45px 0 10px;
}
/* a horizontal menu */
#navigation {
    height: 60px;
    background: #000;
    min-width:600px;
}

#navigation ul li {
    float: left;
}
#navigation ul li a {
    color: #fff;
    padding: 0 20px;
    font-family: "Cookie";
    font-size: 20px;
    text-decoration: none;
    line-height: 60px;
    display: block;
    height: 60px;
}

#navigation ul li a:hover {
    background: rgba(21, 78, 234, 0.85);
    text-decoration: underline;
}
/* the search field */
#searching {
    position:fixed;
    top:20px;
    left:800px;

}
#search_area {
    border-radius:8px;
}
/*the main section*/
article {
    position:relative;
    max-width: 800px;
    background-color: rgba(217, 221, 237, 0.8);
    padding:15px;
    margin-top: 90px;
    margin-left:150px;
    margin-right:150px;
    margin-bottom:auto;
    border-radius:20px;
}
/* footer */


footer {
    width:100%;
    min-width:600px;
    position:fixed;
    bottom:0px;
    height:40px;
    background-color:#000;
}
footer p {
    width:20%;
    padding-top:8px;
    color:#fff;
    font-family:Arial, sans-serif;
    font-size:14px;
    margin:auto;
    
}



