@import url(https://fonts.googleapis.com/css?family=Cookie|Lobster+Two|Yanone+Kaffeesatz);

html, body {height:100%; width:100%;}
#wrapper {
    min-height:100%;
    
}

body {
    background-image:url(../images/background.jpg);
    background-attachment: fixed;

}

/* a horizontal menu */
#heading {
    color:#000;
    font-family: 'Lobster Two', cursive;
    font-size:35px;
    padding:10px 45px 0 80px;
}
#heading:hover {
    color:rgb(14, 183, 164);
    cursor:default;
    transition: 0.5s;
}
#logocell {
    position:absolute;
    left:20px;
}
#logo {
    width:64px;
}
#logo:hover {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
    transition: 2s;
}
#navigation {
    position:relative;
    height: 60px;
    background: #eee;
    width:100%;
    min-width:600px;
}

#navigation li {
    float: left;
}
#navigation li a {
    display: block;
    height: 60px;
    padding: 0 20px;
    font-family: "Cookie";
    font-size: 22px;
    color: #000;
    text-decoration: none;
    line-height: 60px;
   
}

#navigation li a:hover {
    background: rgba(14, 183, 164, 0.78);
    color:white;
    text-decoration: underline;
}
/* the search field */
#searching {
    position:absolute;
    top:20px;
    left:800px;
    float:left;
    width:30%;

}
#searching input[placeholder] {
    text-align: center;
}
#inputCityName {
    border-radius:8px;
}
#inputCityName:focus {
    background-color: blue;
    color: white;
    outline: none;
}
#inputCityName, #btnGetWeather {
    vertical-align:middle;
}
#btnGetWeather {
border: 2px solid white;
border-radius:5px;
background: rgb(14, 183, 164);
color:white;
width:90px;
height:25px;
}
#btnGetWeather:hover {
    background-color:blue;
    cursor: pointer;
}
            
/*the main section*/
article {
    position:relative;
    max-width: 800px;
    min-height:100%;
    background-color: rgba(217, 221, 237, 0.8);
    padding:15px;
    margin-top: 70px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:auto;
    border-radius:20px;
    box-shadow: 10px 10px 5px grey;
}
#location {
    color:#2828ad;
    font-family: 'Cookie', cursive;
    font-size:30px;
}
/*weather data*/
.days {
	display:block;
	width:90px;
	float:left;
	text-align:center;
	padding:2px;
	margin:2px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight:normal;
	font-size:18px;
}
.images {
    display:block;
	width:90px;
	float:left;
	text-align:center;
	padding:2px;
	border: solid 2px white;
	border-radius:8px;
	margin:2px;
	background-color: rgba(31, 196, 139, 0.37);
}
.temperature {
    display:block;
	width:90px;
	float:left;
	text-align:center;
	padding:2px;
	margin:2px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight:normal;
	font-size:18px;
}
.conditions {
    display:block;
	width:90px;
	float:left;
	text-align:center;
	padding:2px;
	margin:2px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight:normal;
	font-size:18px;
}
.humid {
    display:block;
	width:90px;
	float:left;
	text-align:center;
	padding:2px;
	margin:2px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight:normal;
	font-size:18px;
}
.windspeed {
    display:block;
	width:90px;
	float:left;
	text-align:center;
	padding:2px;
	margin:2px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight:normal;
	font-size:18px;
}
/*Heading of the table*/
.output th {
    display:block;
	width:90px;
	float:left;
	text-align:center;
	padding:2px;
	margin:2px;
	margin-bottom:20px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight:bold;
	font-size:20px;
	color:rgb(14, 183, 164);
    
}
/* footer */

#indent {
    height:50px;
}
footer {
    width:100%;
    min-width:600px;
    text-align:center;
	height:50px;
	position:relative;
	bottom:0;
	left:0;
    clear: both;
    background-color:#eee;
}

footer ul {
    position: absolute;
    display:block;
    padding: 0;
    margin: auto;
    height: 50px;
    left: 40%;
    line-height: 50px;
}
footer li {
    float:left;
}

#facebook a img {
    width: 43px;
    height: 43px;
    vertical-align:middle;
}

#facebook a img:hover {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    transition: 1.5s;
}
